<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2024. PingIdentity. All rights reserved.
  ~
  ~ This software may be modified and distributed under the terms
  ~ of the MIT license. See the LICENSE file for details.
  -->

<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:name=".davinci.CollectorRegistry"
            android:authorities="${applicationId}.collectorRegistry"
            android:enabled="true"
            android:exported="false"/>

        <!-- Background Activity that does not care screen orientation -->
        <activity
            android:name="com.pingidentity.idp.browser.BrowserLauncherActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name="com.pingidentity.idp.browser.CustomTabActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${appRedirectUriScheme}" />
            </intent-filter>
        </activity>

        <!-- Facebook Login -->
        <activity android:name=".davinci.FacebookActivity"
            android:exported="false"/>

    </application>

</manifest>